:global(#App) {
    .Tab_View {
        width: calc(100% - 2px);
        height: 200px;
        margin-top: -3px;
        border: 1px solid #999;
        text-align: center;
        line-height: 200px;
    }
}
