@charset "utf-8";

:global {
    html,
    body {
        width: 100%;
        height: 100%;
    }

    html {
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-rendering: optimizelegibility;
            letter-spacing: -0.25px;
        }
    }

    body {
        background: #eee;
        font-family: "맑은 고딕", 돋움, 굴림;
    }

    #root {
        width: 100%;
        height: 100%;
    }
}

.Kanban_Board {
    white-space: nowrap;
    height: 100%;
    margin: 20px auto;
}
